* {
  padding: 0;
  margin: 0;
}

/* Navy hex code #000080 */
/* Orange hex code #FFA500 */

body {
  background-color: #000080;
  user-select: none;
}

h1 {
  align-self: center;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 5rem;
  transition: font-size 0.5s;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  box-sizing: border-box;
  margin-top: 11rem;
  color: black;
  background-color: orange;
  border-radius: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  max-width: 60%;
}

.question-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 50%;
  box-shadow: 1px 1px 8px black;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 1rem 0;
  width: 100%;
  height: 50%;
}

.header-hidden {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0.7rem 0 1rem 0;
  width: 100%;
  height: 50%;
  box-shadow: 1px 1px 8px black;
}

button {
  border-radius: 50%;
  border-color: #000080;
  margin: 2rem 1rem 2rem auto;
  width: 2.5rem;
  min-width: 2.5rem;
  color: white;
  background-color: #000080;
  box-shadow: 1px 1px 9px #000080;
}

h2 {
  max-width: 600px;
  max-height: 30px;
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: 1.5rem;
  transition: font-size 0.5s;
}

p {
  margin: 0.3rem 1.2rem 1.2rem 1.2rem;
  font-size: 1.6rem;
  transition: font-size 0.5s;
}

@media screen and (max-width: 1300px) {
  p {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.1rem;
  }
}
