* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border: 3px solid black;
  border-radius: 1rem;
  width: 50%;
}

.questions-container > h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

.questions-container__questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.question-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.question-container__content > p {
  width: 100%;
  font-size: 1.25rem;
}

.question-container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.question-container__title > h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.question-container__title > button {
  cursor: pointer;
  background-color: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bolder;

  transition: transform 0.1s ease-in;
}

.question-container__title > button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 750px) {
  .questions-container > h1 {
    font-size: 3rem;
  }
  .question-container__title > h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .questions-container {
    width: 90%;
  }
}
